body {background: url("images/green/1ikgzp.png") repeat-x scroll 0 0 #191919 !important;}
.pun {background: url("images/green/nv3brb.jpg") no-repeat scroll 0 0 transparent;}
.main .main-head {background-image: url("images/green/wisg8k.jpg");}
#ft {background: url("images/green/m3m0o.png") repeat-x scroll 0 0 #00B704;border-bottom: 1px solid #16BA1F;}
.menu ul {background: url("images/green/o50y87.png") repeat-y scroll 0 0 transparent;border: 1px solid #02D500;}
.bg, .ico, .icob .befo, .icob:before, .icos a .befo, .icos a:before, .licos li, .more-link {background: url("images/green/2mpa16g.png") no-repeat scroll 0 0 transparent;}
.ftcnt {background: url("images/green/2qwk6ch.jpg") no-repeat scroll 0 0 transparent;min-height: 160px;}
.txbxft {color: #77E869;background-color: #0E7D0D;border: 1px solid #12A400;}
.main .main-foot, .main .main-head {background-color: #00B504;}
.portal .main-content {border-color: #02B500;}
.lsenl li a {color: #A4FFA6;}
.mntp li a:hover {color: #78FF80 !important;}
.tithd span {color: #03FF00 !important;}
.pun a:link {color: #029C00;}
.forumtitle {color: #10AB19 !important;}
*::-moz-selection{background: #00942C;color: #FFFFFF;}
*::selection {background: #00942C;color: #FFFFFF;}
#headmindice, .oscuromindice {background-image: url("images/green/m3m0o.png");}
