body {background: url("images/orange/dx243d.png") repeat-x scroll 0 0 #191919 !important;}
.pun {background: url("images/orange/fbzvxg.jpg") no-repeat scroll 0 0 transparent;}
.main .main-head {background-image: url("images/orange/eklpoo.jpg");}
#ft {background: url("images/orange/qohtn8.png") repeat-x scroll 0 0 #B77300;border-bottom: 1px solid #BA7216;}
.menu ul {background: url("images/orange/smgit2.png") repeat-y scroll 0 0 transparent;border: 1px solid #D57800;}
.bg, .ico, .icob .befo, .icob:before, .icos a .befo, .icos a:before, .licos li, .more-link {background: url("images/orange/34h7taw.png") no-repeat scroll 0 0 transparent;}
.ftcnt {background: url("images/orange/50much.jpg") no-repeat scroll 0 0 transparent;min-height: 160px;}
.txbxft {color: #E8B569;background-color: #7D4C0D;border: 1px solid #A45D00;}
.main .main-foot, .main .main-head {background-color: #B56600;}
.portal .main-content {border-color: #B55A00;}
.lsenl li a {color: #FFD1A4;}
.mntp li a:hover {color: #FFBB78 !important;}
.tithd span {color: #FF8700 !important;}
.pun a:link {color: #C47707;}
.forumtitle {color: #DE5506 !important;}
*::-moz-selection{background: #CF5E02;color: #FFFFFF;}
*::selection {background: #CF5E02;color: #FFFFFF;}
#headmindice, .oscuromindice {background-image: url("images/orange/qohtn8.png");}
